.burger {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 35px;
  height: 30px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1001;
}

.burger span {
  display: block;
  height: 4px;

  border-radius: 3px;
  transition: all 0.4s ease;
}

.burger span.open:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}
.burger span.open:nth-child(2) {
  opacity: 0;
}
.burger span.open:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -7px);
}

.menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 70%;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  transition: left 0.4s ease;
  z-index: 1000;
}

.menuOpen {
  left: 0;
}

.menu a {
  text-decoration: none;
  font-size: 1rem;
  width: 140px;
}
.link {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
}
.link svg {
  display: block;
  width: 52px;
}

.menu a:hover {
  text-shadow: 0 0 8px #00ffff;
}

/* Affiche le burger seulement sur mobile */
@media (max-width: 768px) {
  .burger {
    display: flex;
  }
}
